footer.footer 
    .footer__logo 
        img(src="/img/logo-green.png" alt="Natours logo")
    ul.footer__nav
        li: a(href="#") About us
        li: a(href="#") Download apps
        li: a(href="#") Become a guide
        li: a(href="#") Careers
        li: a(href="#") Contact
    .x 
        p.footer__copyright &copy; by Ali Asghar. All rights reserved.
        ul.footer__nav.footer__link
            li: a(href="https://www.linkedin.com/in/aliasghar37") LinkedIn
            li: a(href="https://www.github.com/aliasghar37") GitHub