extends base

block content 
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg.max__width Forgot your password?
            p.cta__text.form__text.max__width Please enter your email address, we'll send you a link to change your password.
            form.form_forgot_password
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green.max__width Send email