extends base

block content 
    main.main
        .signup-form
            h2.heading-secondary.ma-bt-lg.max__width Reset your password
            form.form-reset-password(data-token= token)
                .form__group.ma-bt-md
                    label.form__label(for='password') New password
                    input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='passwordConfirm') Confirm Password
                    input#password__confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group
                    button.btn.btn--green.max__width Change password